body{
    margin: 0;
    background-image: url(./back.jpg);
    background-size: cover;
}
#cc{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#clock{
    font-family: monospace;
    font-size: 6.5rem;
    font-weight: bold;
    text-align: center;
    color: rgba(250, 247, 247, 0.705);
}